/MNIST/mnist.pkl
/MNIST/test_images.parquet
/MNIST/test_images.pkl
/MNIST/test_labels.parquet
/MNIST/test_labels.pkl
/MNIST/train_images.parquet
/MNIST/train_images.pkl
/MNIST/train_labels.parquet
/MNIST/train_labels.pkl
/CIFAR-10/data_batch_1
/CIFAR-10/data_batch_2
/CIFAR-10/data_batch_3
/CIFAR-10/data_batch_4
/CIFAR-10/data_batch_5
/CIFAR-10/test_batch
/CIFAR-10/test_images.parquet
/CIFAR-10/test_images.pkl
/CIFAR-10/test_labels.parquet
/CIFAR-10/test_labels.pkl
/CIFAR-10/train_images.parquet
/CIFAR-10/train_images.pkl
/CIFAR-10/train_labels.parquet
/CIFAR-10/train_labels.pkl
